.form {
    border: 2px black solid;
    width: 500px;
    height: 500px;
    align-items: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    margin-top: 125px;
}