.product {
  padding: auto 0;
  width: 20vw;
}

.section_title h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: var(--Spacing);
  margin-top: 40px;
}

.product_center {
  width: 90vw;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box !important;
  align-items: center !important;
  align-content: center;
}

.img_container {
  position: relative;
  overflow: hidden;

}

.product {
  width: 260px;
  display: inline-block;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  position: center;
  align-self: center;

}

.bag_btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--Color);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--Spacing);
  font-weight: bold;
  transition: var(--Transition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag_btn:hover {
  color: var(--White);
}

.shopping_bag {
  margin-right: 8px;
}

.img_container:hover .bag_btn {
  transform: translateX(0);
}

.product_img {
  display: block;
  width: 100%;
  min-height: 192px;
  transition: var(--Transition);
}
.img_container:hover .product_img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 17.6px;
  margin-top: 16px;
  letter-spacing: var(--Spacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--Spacing);
  color: var(--Color);
  text-align: center;
}
.button_overlay {
  width: 75px;
  height: 200px;
  background-color: #f09d51;
  opacity: 1;
  float: right;
  position: sticky;
  bottom: 375px;
}

.cart.is-active {
  transform: translateX(100%);
  visibility: visible;
  display: visible;
}
.cart_overlay.is-active {
  transition: all 0.5s ease;
  visibility: visible;
  display: visible;
}

.cart_overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--Transition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
  display: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--Transition);
  transform: translateX(100%);
  visibility: hidden;
  display: hidden;
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}


@media all and (max-width: 750px){
  .product {
    float: left;
  }
  .product_center {
    width: 100vw;
  }
}