.store_divider {
    background-color: #EE7600;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 40px;
    position: relative;
    left: 750px;
    bottom: 10px;
}

.store_name_header {
    text-align: center;
    font-family: RadioCanada;
}

.shop_content {
    display: flex;
    gap: 1.5rem !important;
    flex: wrap;
    max-width: 100%;
    align-items: center !important;

}

.product_img {
    max-width: 200px;

}

