.catalog_item {
    display: block;
    width: 240px;
    height: 240px;
    padding: 8px 16px;
    margin: none;
}

.main_content {
    display: block;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    position: center;
    justify-content: center;
    margin: auto; 
    flex-direction: column;
    padding: 8px 16px;
    flex-wrap: wrap;
    margin-top: 30px !important;
    
}

ul {
    list-style-type: none;

}

.catalog_list {
    display: flex;
    flex-direction: column !important;
    justify-content: column;
    position: center;
    justify-content: center;
}

#catalog_id {
    display: flex;
    padding: 8px 16px;
    flex-direction: column !important;
    margin-bottom: 5px;
    float:  left !important;
}

.taco_image {
    max-width: 240px !important;
    max-height: 240px !important; 
}