.home_page {
    background-color: #FDEFB2;
    width: 100%;
    height: 800px;
}

@font-face {
    font-family: WaterBrush;
    src: url(/stylesheets/fonts/WaterBrush-Regular.ttf);
}

@font-face {
    font-family: Kaushan;
    src: url(/stylesheets/fonts/KaushanScript-Regular.ttf);
}

#homepage_taco {
    max-width: 360px;
    position: relative;
    top: 240px;
    left: 52.5%;
    z-index: 1;


}

.homepage_txt {
    width: 600px;
    height: 100px;
    position: relative;
    left: 30.5%;
    bottom: -20px;
}

#btn {
    width: 150px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(232,226,35,1) 0%, rgba(255,215,11,1) 35%, rgba(255,175,0,1) 100%);
    position: relative;
    left: 30.5%;
    bottom: -45px;
}

#hpg_header {
    font-family: Kaushan;
}  

#hpg_txt {
    font-family: Playball;
    font-weight: lighter;

}

#circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 360px;
    background: #FFD580;
    width: 275px;
    height: 275px;
    position: relative;
    left: 54.5%;
    z-index: 0;
    bottom: 200px;
}

@font-face {
    font-family: Roboto;
    src: url(/stylesheets/fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Playball;
    src: url(/stylesheets/fonts/Playball-Regular.ttf);
}

.homepage_featured {
    max-width: 75%;
    display: flex;
    box-sizing: border-box !important;
    flex-wrap: wrap;
    position: center;
    align-self: center;
    align-items: center !important;
    margin: 0 12.5%;
}

.featured_image {
    flex-basis: 30%;
    margin-top: 20px 0;
    max-width: 350px !important;
    max-height: 350px;
    display: inline-block;
    flex-direction: column;
    position: center !important;
    padding: 10% 0;
    margin: 50px auto;
}

.home_feature {
    text-align: center;
    font-family: RadioCanada;
}

.feature_divider {
    background-color: #EE7600;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 40px;
    position: relative;
    left: 48.75%;
    display: flex;
    padding: 5px;

}
@font-face {
    font-family: RadioCanada;
    src: url(/stylesheets/fonts/RadioCanada-VariableFont_wdth\,wght.ttf);
}

.center {
    width: 100%;
    align-items: center !important;
    height: 20px;
    flex-wrap: wrap;
    position: center;
    box-sizing: border-box;
    flex-direction: column;
}

.positon {
    width: fit-content;
}

@media all and (max-width: 960px) {
    .feature_divider {
        position: relative;
        left: 46.5%;
    }

    #btn {
        position: relative;
        left: 10%;
        height: 40px;
        bottom: -175px;
    }
    #homepage_taco {
        left: 46%;
    }
    #circle {
        max-width: 200px;
        max-height: 200px;
        bottom: 10px;
    }
    #homepage_taco {
        max-width: 260px;
        max-height: 260px;
        left: 50%;
        top: 350px;
    }
    .homepage_txt {
        left: 8.5%;
        bottom: -75px;
    }


}