* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar_container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #fdefb2;
    display: block;
    box-sizing: border-box !important;

}

@font-face {
    font-family: Millenia;
    src: url(fonts/Millenia.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    content: center;
}



.logo {
    font-family: Millenia;
    font-size: 35px !important;
    text-align: left;
    font-weight: bold;
    float: left !important;
    border: transparent;
}
.navbar_logo {
    display: block;
    text-align: left;

}

#item {
    margin: 0px;
    cursor: pointer;
    display: block;
    padding: 8px 30px;
    text-decoration: none;
    position: right;
    list-style-type: none;
    text-align: right;
    float: right;
    height: 100px;
    text-align: center; 
    font-size: 18px;   
}

.cart_img {
   max-width: 30px !important;
   max-height: 30px !important;
}

.nav_item:hover {
    color: blueviolet;
    transition: all 0.3s ease;
}




